<mat-card style="margin : 10px">
  <mat-card-header>
    <mat-card-title>سخن پراکنی</mat-card-title>
    <mat-card-subtitle>بخش مخفی</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <p>
      پیام های این قسمت ذخیره نمیگردد و موقتی است - این جا برای تست ارسال موفق پیام بین دو کاربر

      برای اطمینان از عملکرد هایی مانند ارسال الگوی غذایی در برنامه اینده رایدا است
    </p>

    <p>قابلیت ارسال فایل و پرونده داخلی رایدا به زودی اضافه میگردد</p>
    <textarea name="" id="" cols="30" rows="10" id="chts"
     disabled [(ngModel)]="chats">


    </textarea>



    <br>
      <input type="text" placeholder="نام کاربری مقصد" [(ngModel)]="user" >
      <input type="text" (keyup.enter)="send()" placeholder="بنویس" style="width:100%" [(ngModel)]="message">

      <br>


  </mat-card-content>
<mat-card-actions>
  <button mat-button (click)="send()">بفرست</button>

</mat-card-actions>


</mat-card>
