
<div class="login-container animated zoomIn">
    <mat-card class="login" >

  <mat-card-content style="padding-top: 10px">
      <h3 style="text-align: center">ورود به سامانه</h3>

      <form  class="auth-content no-select" (submit)="onSubmit()" method="post" (keyup)="FindImage">
        <mat-form-field appearance="outline">
            <mat-label>نام کاربری</mat-label>
         <input [(ngModel)]="d.username" name="d.username" type="text" matInput  autocomplete="username">
         <mat-hint>نام کاربری معمولا برابر کد ملی است</mat-hint>
       </mat-form-field>
       <br>
       <mat-form-field appearance="outline">
          <mat-label>گذرواژه</mat-label>
        <input  [(ngModel)]="d.password" name="d.password" type="password" matInput  autocomplete="current-password">
        <mat-hint>هنگام ثبت نام توسط خودتان انتخاب شده است</mat-hint>
      </mat-form-field>
      <br>
      <mat-checkbox color="primary"
               class="example-margin">
               مرا به خاطر بسپار
           </mat-checkbox>
           <button  mat-raised-button type="submit" color="primary" >
             <span *ngIf="loging">در حال صدور کلید ...</span>
             <span *ngIf="!loging">ورود</span>


           </button>


           <button mat-raised-button routerLink="/users/forgot" *ngIf="show_forgot" type="button" color="accent" style="margin-top: 5px"  >
             <span >فراموشی رمز عبور </span>


           </button>
      </form>
  </mat-card-content>

    </mat-card>
  </div>
  <p style="text-align:center; margin:0; padding:0; font-size:12px">کلیه حقوق برای عصر ارتباطات دهکده محفوظ است</p>
