mat-card-content.flex{
    display: flex;
    flex-wrap: nowrap;
}

mat-card-content.flex img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

div.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.info{
    margin-right: 20px;
    margin-top: 30px;
}