<div class="login-container animated zoomIn">
  <mat-card class="login">

    <mat-card-content>

      <p style="text-align:center">فراموش رمز عبور</p>
      <p *ngIf="loging">
        در حال ارسال رمز
      </p>
      <form *ngIf="!loging" class="auth-content no-select" method="post" (submit)="checkInput()">
        <mat-form-field appearance="outline">
          <mat-label>تلفن همراه</mat-label>
          <input [(ngModel)]="d.phone" name="d.phone" type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>نام کاربری</mat-label>
          <input [(ngModel)]="d.username" name="d.username" type="text" matInput>
        </mat-form-field>
        <br>
        <br>
        <br>
        <button *ngIf="d.phone.length  >= 10" mat-raised-button type="submit" color="primary" style="margin-bottom: 10px;">
          <span>بازیابی</span>
        </button>
        <button mat-raised-button routerLink="/users/login" type="button" color="accent">
          <span>بازگشت</span>


        </button>
      </form>
    </mat-card-content>

  </mat-card>
</div>
<p style="text-align:center; margin:0; padding:0; font-size:12px">کلیه حقوق برای عصر ارتباطات دهکده محفوظ است</p>