<div class="login-container animated zoomIn">
  <mat-card class="login">

    <mat-card-content>

      <p style="text-align:center">بازیابی گذرواژه </p>

      <form  class="auth-content no-select" (submit)="checkInput()" method="post" action="#">
        <mat-form-field appearance="outline">
          <mat-label>تلفن همراه</mat-label>
          <input [(ngModel)]="d.phone" name="d.phone" type="text" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>نام کاربری</mat-label>
          <input [(ngModel)]="d.username" name="d.username" type="text" matInput>
        </mat-form-field>
        <br>
        <br>
        <br>
        <button *ngIf="d.phone.length  >= 10" mat-raised-button type="submit"  style="margin-bottom: 10px;" color="primary">
          <span *ngIf="loging">
            <mat-spinner [diameter]="30" [ngStyle]="spinnerStyle"  style="margin:2px auto"></mat-spinner>

           </span>
           <span *ngIf="!loging">بازیابی</span>
        </button>
        <button mat-raised-button routerLink="/users/login" type="button" color="accent">
          <span>بازگشت</span>


        </button>
      </form>
    </mat-card-content>

  </mat-card>
</div>
<p style="text-align:center; margin:0; padding:0; font-size:12px">کلیه حقوق برای عصر ارتباطات دهکده محفوظ است</p>
