
<div style="padding : 10px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>مالی</mat-card-title>
      <mat-card-subtitle>تراکنش های پرداخت بانکی</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <table mat-table [dataSource]="dataSource" class=" rayput">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> کد </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> توضیحات </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef> مبلغ </th>
              <td mat-cell *matCellDef="let element"> {{element.amount / 10 }} تومان </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="issuer">
              <th mat-header-cell *matHeaderCellDef> صادر کننده </th>
              <td mat-cell *matCellDef="let element"> {{element.issuer}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>  وضعیت </th>
                <td mat-cell *matCellDef="let element"> {{element.type?'پرداخت موفق' : 'پرداخت ناموفق'}} </td>
              </ng-container>





            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <ngx-charts-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [labels]="showLabels"
          [doughnut]="doughnut"
          >
        </ngx-charts-pie-chart>
    </mat-card-content>
  </mat-card>
</div>
