<mat-toolbar color="primary" class="title">
  <span>آمار</span>
</mat-toolbar>
<mat-tab-group (selectedIndexChange)="onSelect($event)" backgroundColor="primary">
  <mat-tab label="روزانه"></mat-tab>
  <mat-tab label="هفتگی"></mat-tab>
  <mat-tab label="ماهانه"></mat-tab>
  <mat-tab label="سالانه"></mat-tab>
</mat-tab-group>
<mat-card style="margin: 10px 5px; padding: 10px">
  <mat-form-field appearance="outline">
      <mat-label>تاریخ مبدا</mat-label>

      <input [(ngModel)]="Date" matInput readonly [matDatepicker]="picker6" placeholder="تاریخ مبدا" (dateChange)="SendQuery($event)" >
      <mat-spinner *ngIf="loading" diameter="30" matSuffix></mat-spinner>

      <mat-datepicker-toggle matSuffix [for]="picker6" *ngIf="!loading"></mat-datepicker-toggle>
      <mat-datepicker touchUi #picker6></mat-datepicker>


  </mat-form-field>

  <mat-card-content class="chartWrapper" id="chartWrapper" [ngClass]="{'hidden': loading}">

    <h5 id="title"></h5>

      <div  id="content" class="chartAreaWrapper" >
      </div>
  </mat-card-content>
</mat-card>
