<div  style="padding : 30px">
  <mat-card class="biG">
      <mat-card-header>
          <mat-card-title>صفحه مدیریت  تغذیه</mat-card-title>
          <mat-card-subtitle>سیستم بادام</mat-card-subtitle>
        </mat-card-header>
    <mat-card-content>


        <br>


        <mat-tab-group backgroundColor="primary">
          <mat-tab label="مدیریت الگو ها">


                 <br>


          </mat-tab>
          <mat-tab label="برنامه ریزی غذایی"></mat-tab>
          <mat-tab label="غذا ها"></mat-tab>
          <mat-tab label="مواد غذایی"></mat-tab>
          <mat-tab label="وعده ها"></mat-tab>
          <mat-tab label="تنظیمات قیمت ها"></mat-tab>

        </mat-tab-group>
    </mat-card-content>

  </mat-card>
</div>
