.img-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 300px;
  width: 100%;
  background : #616161;
  color : #fff;
  background-size: cover;
  padding-right: 20px;

}

mat-card {
  overflow: hidden;
}
