
<div style="padding : 10px" >
    <mat-card >
        <mat-card-content>
          <h3>
          پنل تنظیمات سریع تغذیه
          </h3>



          <mat-form-field >
            <mat-label>انتخاب وعده</mat-label>
            <mat-select [(ngModel)]="meal" (selectionChange)="Checkchange()">
              <mat-option *ngFor="let m of meals" [value]="m.id">
                {{m.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="ExExport()" *ngIf="this.UserData.length!==0">دریافت خروجی</button>

          <h3 *ngIf="this.UserData.length ==0">در حال بر قراری ارتباط با سخت افزار</h3>
           <mat-tab-group [selectedIndex]="selected.value"  (selectedIndexChange)="selected.setValue($event)">
              <mat-tab label="تحویل غذا" *ngIf="this.UserData.length!==0">
                <div class="tcontent">

                  <h3 *ngIf="msg_txt">
                   {{msg_txt}}
                  </h3>
                    <div style="float:left; padding-left: 30px">
                        <img *ngIf="img_code_meli" style="border-radius: 10px; width: 100px; height: 100px;" src="https://5bf3c8b2b293ba0012ce1945.storage.liara.ir/avatars/{{img_code_meli}}.png" alt="عکس کاربر">
<span *ngIf="img_code_meli">
    <h3>{{card_status}}</h3>
    <span *ngIf="(!card) && (userDelivered)">
    <h5 *ngIf="  AvailableCard">تحویل بدون کارت مشمول جریمه مالی است ! لطفا با کلیک بر روی دکمه زیر اختلاف مالی با رایدا را حل کنید</h5>
    <button *ngIf="AvailableCard" mat-button (click)="NoCard()">اعمال جریمه مالی</button>
  </span>
</span>



                      </div>
                      <mat-slide-toggle *ngIf="false"  [(ngModel)]="viewSetting">تنظیمات</mat-slide-toggle>
                      <mat-slide-toggle   [(ngModel)]="MELI" (change)="SetLocalMeli()">تحویل با کد ملی</mat-slide-toggle>


          <br>

                 <br>
                 <mat-form-field>
                    <mat-select placeholder="محل تحویل غذا" name="item" [(ngModel)]="place" [value]= "places[0]" >
                        <mat-option *ngFor="let item of places" [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                 <h4>تحویل داده شده ها : {{Sum}}</h4>
                 <h4> آمار کل : {{All}}</h4>
                 <h4> باقی مانده : {{All - Sum}}</h4>


          <form method="POST" (submit)="NewDeliver()" *ngIf="MELI">
            <mat-form-field class="rayful" style="margin-top:5px">
                <input matInput [(ngModel)]="code_meli" name="code_meli" type="text" placeholder="کد ملی" aria-label="Number" >
              </mat-form-field>
            <button mat-raised-button *ngIf="foodDeliver" color="primary"   type="submit" >تحویل</button>
          </form>

          <div *ngIf="userDelivered">
              <hr>

              <h4>لیست موارد رزرو شده توسط {{view_name}}</h4>

              <mat-selection-list >
                  <mat-list-option >
                          غذای اصلی
                  </mat-list-option>
                 </mat-selection-list>
          </div>

<hr>
          <h4>لیست اخرین افراد</h4>
          <mat-selection-list >
              <mat-list-option *ngFor="let item of delivered"> {{item}} </mat-list-option>
             </mat-selection-list>
                </div>

              </mat-tab>

            </mat-tab-group>



        </mat-card-content>

    </mat-card>
  </div>
