
<div style="padding : 10px" >
    <mat-card >
        <mat-card-content>
          <h3>
          پنل تنظیمات سریع تغذیه
          </h3>


           <mat-tab-group [selectedIndex]="selected.value"  (selectedIndexChange)="selected.setValue($event)">
              <mat-tab label="تحویل غذا" >
                <div class="tcontent">

                  <button mat-button (click)="ExExport()" *ngIf="this.UserData.length!==0">خروجی </button>
                  <h3 *ngIf="msg_txt">
                   {{msg_txt}}
                  </h3>
                    <div style="float:left; padding-left: 30px">
                        <img *ngIf="img_code_meli" style="border-radius: 10px; width: 100px; height: 100px;" src="https://5bf3c8b2b293ba0012ce1945.storage.liara.ir/avatars/{{img_code_meli}}.png" alt="عکس کاربر">
<span *ngIf="img_code_meli">
    <h3>{{card_status}}</h3>
    <span *ngIf="(!card) && (userDelivered)">
    <h5 *ngIf="  AvailableCard">تحویل بدون کارت مشمول جریمه مالی است ! لطفا با کلیک بر روی دکمه زیر اختلاف مالی با رایدا را حل کنید</h5>
    <button *ngIf="AvailableCard" mat-button (click)="NoCard()">اعمال جریمه مالی</button>
  </span>
</span>



                      </div>
                      <mat-slide-toggle *ngIf="false"  [(ngModel)]="viewSetting">تنظیمات</mat-slide-toggle>
                      <mat-slide-toggle   [(ngModel)]="MELI" (change)="SetLocalMeli()">تحویل با کد ملی</mat-slide-toggle>


          <br>

                 <br>
                 <mat-form-field>
                    <mat-select placeholder="محل تحویل غذا" name="item" [(ngModel)]="place" [value]= "places[0]" >
                        <mat-option *ngFor="let item of places" [value]="item">
                          {{item}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
                 <h4>تحویل داده شده ها : {{Sum}}</h4>
                 <h4> آمار کل : {{All}}</h4>
                 <h4> باقی مانده : {{All - Sum}}</h4>


          <form method="POST" (submit)="NewDeliver()" *ngIf="MELI">
            <mat-form-field class="rayful" style="margin-top:5px">
                <input matInput [(ngModel)]="code_meli" name="code_meli" type="text" placeholder="کد ملی" aria-label="Number" >
              </mat-form-field>
            <button mat-raised-button *ngIf="foodDeliver" color="primary"   type="submit" >تحویل</button>
          </form>

          <div *ngIf="userDelivered">
              <hr>

              <h4>لیست موارد رزرو شده توسط {{view_name}}</h4>

              <mat-selection-list >
                  <mat-list-option >
                          غذای اصلی
                  </mat-list-option>
                 </mat-selection-list>
          </div>

<hr>
          <h4>لیست اخرین افراد</h4>
          <mat-selection-list >
              <mat-list-option *ngFor="let item of delivered"> {{item}} </mat-list-option>
             </mat-selection-list>
                </div>

              </mat-tab>
             <!-- <mat-tab label="مدیریت کارت ها" >
                <div class="tcontent">
                  <p>
                    به صفحه ثبت کارت خوش آمدید
                  </p>
                  <form method="POST"  (submit)="CardDefine()">
                    <mat-form-field class="rayful" style="margin-top:5px">
                        <input matInput [(ngModel)]="code_meli" name="code_meli" type="text" placeholder="کد ملی" aria-label="Number" >
                      </mat-form-field>
                      <mat-form-field class="rayful" style="margin-top:5px">
                        <input matInput  [(ngModel)]="card_number" name="card_number" type="text" placeholder="شماره کارت" aria-label="Number" disabled >
                      </mat-form-field>
                      <button mat-raised-button *ngIf="foodDeliver" color="primary"   type="submit"  >تعریف کارت</button>
                      <button mat-raised-button *ngIf="foodDeliver" color="primary"   type="reset"  (click)="RemoveCard()">حذف کارت</button>
                  </form>
                </div>
              </mat-tab> -->
              <!-- <mat-tab label="آمار">
                  <div class="tcontent">
                    <h4>
                       به منوی آمار ها خوش آمدید
                    </h4>
                    <div class="row">
                        <div class="col l4 m12 s12" >
                          <mat-card>
                            <mat-card-header>
                              <mat-card-title>آمار رزرو </mat-card-title>
                              <mat-card-subtitle>دریافت آمار با توجه به تنظیمات</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>


                               <div class="text-center">
                                  <b >انتخاب هفته</b>
                                  <br>
                                 شروع هفته از  {{date.format('jYYYY/jMM/jDD')}} تا {{clone.format('jYYYY/jMM/jDD')}}
                                <br>
                                <br>
                              <button mat-raised-button >قبلی</button>
                                  <button mat-raised-button >جاری</button>
                                  <button mat-raised-button >بعدی</button>
                              </div>
                            </mat-card-content>
                            <mat-card-actions>

                              <button mat-button>دریافت مجدد امار</button>
                            </mat-card-actions>
                          </mat-card>
                        </div>
                        <div class="col l8 m12 s12" >

                          <mat-card>
                            <mat-card-header>
                              <mat-card-title>مشاهده</mat-card-title>
                              <mat-card-subtitle>اطلاعات آماری</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content  style="padding-right:20px;">

                              <div class="row">


                                       <div *ngFor="let item of days; let index = index" style="text-align:center" >
                                          <div class="col "  >
                                            <p style="margin:0; font-size: 16px">
                                                {{item}}

                                            </p>
                                            <div *ngFor="let meal of meals" style="margin:0; margin-bottom:5px; padding: 0">
                                              <span *ngIf="meal.enabled">
                                                  {{meal.name}}
                                                  <h2>{{stats[index][meal.id - 1]}}</h2>
                                              </span>



                                            </div>
                                          </div>
                                       </div>
                              </div>
                            </mat-card-content>

                          </mat-card>
                          </div>

                    </div>
                  </div>
                </mat-tab>

              <mat-tab label="مدیریت الگو ها">

                <div class="tcontent">
                   <h5>
                     مدیریت الگوی من
                   </h5>

                   <mat-tab-group>
                     <mat-tab label="ایجاد الگو">
                       <div class="exm">
                         <br>
                          <mat-form-field>
                            <input matInput placeholder="نام الگو">
                          </mat-form-field>
                          <button mat-raised-button color="primary">ذخیره سازی نهایی</button>

                          <mat-tab-group [selectedIndex]="dowselected.value"
                          (selectedIndexChange)="dowselected.setValue($event)">
                            <mat-tab *ngFor="let day of days" [label]="day">
                               <button mat-raised-button (click)="NewDow()">ایجاد یک وعده / غذا جدید</button>
                            </mat-tab>





                          </mat-tab-group>
                      </div>
                     </mat-tab>

                     <mat-tab label="الگو ها"></mat-tab>
                   </mat-tab-group>
                </div>
              </mat-tab>
              <mat-tab label="برنامه ریزی غذایی">
                  <div class="tcontent"></div>
                  <h4>به صفحه برنامه ریزی غذایی خوش آمدید
                  </h4>
                </mat-tab>
                <mat-tab label="وعده ها">
                    <div class="tcontent">
                      <h4>
                        به منوی مدیریت وعده ها خوش آمدید
                      </h4>
                      <div class="row" >
                        <div class="col l3 m6 s12" *ngFor="let item of meals">
                          <mat-card>
                            <mat-card-header>
                              <mat-card-title >
                                {{item.name}}
                              </mat-card-title>
                              <mat-card-subtitle>وعده اصلی

                              </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                              <p>
                                این وعده از وعده های اصلی بادام است
                              </p>
                            </mat-card-content>
                            <mat-card-actions>
                                <mat-slide-toggle [(ngModel)]="item.enabled" >فعال / غیر فعال کردن وعده</mat-slide-toggle>
                            </mat-card-actions>
                          </mat-card>
                        </div>




                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab label="غذا ها">
                      <div class="tcontent">
                        <h3>
                          به صفحه مدیریت غذا ها خوش آمدید
                        </h3>
                        <form >
                          <button mat-raised-button (click)="NewFood()">افزودن غذا</button>
                        </form>
                        <div class="row">
                            <div class="col l3 m6 s12" *ngFor="let food of foods; let index = index">
                                <mat-card>
                                  <mat-card-header>
                                    <mat-card-title
                                    contenteditable="true"
                                   [(ngModel)]="foods[index].name"></mat-card-title>
                                    <mat-card-subtitle
                                    contenteditable="true"
                                   [(ngModel)]="foods[index].description"
                                    ></mat-card-subtitle>
                                  </mat-card-header>
                                  <mat-card-content>

                                  </mat-card-content>
                                  <mat-card-actions>
                                    <button mat-button color="primary" (click)="SubmitFood(index)">ارسال تغییرات به سرور</button>
                                    <button mat-button color="primary" (click)="DelFood(index)">حذف</button>

                                  </mat-card-actions>
                                </mat-card>
                              </div>
                        </div>

                      </div>
                    </mat-tab>
                    <mat-tab label="سیاست قیمت گذاری">
                        <div class="tcontent"></div>
                    </mat-tab>
                    <mat-tab label="گروه های کاربری">
                        <div class="tcontent"></div>
                      </mat-tab>
                      <mat-tab label="مواد غذایی">
                          <div class="tcontent"></div>
                        </mat-tab>
                        <mat-tab label="پیمانکار">
                            <div class="tcontent"></div>
                          </mat-tab>
                          <mat-tab label="مالی">
                              <div class="tcontent">
                                  <mat-tab-group>
                                      <mat-tab label="کل تراکنش ها">
                                      </mat-tab>
                                      <mat-tab label="تراکنش ها بر اساس کاربر">
                                        </mat-tab>
                                  </mat-tab-group>
                              </div>
                            </mat-tab>
                          -->
            </mat-tab-group>



            <h3>این صفحه به بخش جدیدی منتقل شده است</h3>

          <a href="https://delivery.liara.run">نرم افزار تحویل غذا</a>
        </mat-card-content>

    </mat-card>
  </div>
