<mat-toolbar color="primary" class="title">
  <span>مدیریت مالی</span>
</mat-toolbar>
<mat-tab-group (selectedIndexChange)="onSelect($event)" backgroundColor="primary">
  <mat-tab label="افزایش"></mat-tab>
  <mat-tab label="کاهش"></mat-tab>
  <mat-tab label="گزارشات"></mat-tab>
</mat-tab-group>
<mat-card style="margin: 10px 10px; padding: 10px">
  <mat-card-content style="padding: 10px 20px;">
    <mat-form-field style="min-width: 300px;">
      <input matInput placeholder="جستجو دانشجو" [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="search">
    </mat-form-field>
    <button mat-icon-button (click)="search = ''; user = null" *ngIf="search.length != 0">
      <mat-icon><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm10 27.17L31.17 34 24 26.83 16.83 34 14 31.17 21.17 24 14 16.83 16.83 14 24 21.17 31.17 14 34 16.83 26.83 24 34 31.17z"/></svg></mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option['uid']" (click)="selectOne(option)">
      <span>{{option['firstname']}}</span><span> {{option['lastname']}} </span> <span> | {{option['uid']}}</span>
      </mat-option>
    </mat-autocomplete>  
    <div *ngIf="user != null">
      <p>نام : <span>{{user['firstname']}}</span></p>
      <p>نام خانوادگی :‌ <span>{{user['lastname']}}</span></p>
      <p>نام کاربری : <span>{{user['uid']}}</span></p>
      <br>
      <mat-form-field>
        <input matInput placeholder="مبلغ" type="number">
      </mat-form-field>
      <span style="margin-right: 5px;">ریال</span>
      <br>
      <mat-form-field style="min-width: 250px;">
        <textarea matInput rows="5" placeholder="توضیحات"></textarea>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary">ثبت</button>
    </div>
  </mat-card-content>
</mat-card>
