<div class="row">
  <div class="col l5 m10 s12 ">
    <mat-card>
      <h3 style="margin:0; padding: 0;">به مدیریت تغذیه بادام خوش آمدید</h3>
      <h5 style="margin:0; margin-bottom:5px;  padding: 0;">کاری از تیم رایدا</h5>

      <mat-card-content>
        <p class="mtext">
          به بادام نسخه 0.1.1 خوش آمدید
        </p>
        <p>
          [تغییرات]

        </p>
        <p>
          * رفع ایرادات مربوط به شبکه های اینترنتی کند
        </p>
        <p>
          * رفع ایرادات مرتبط با مصرف بیش از حد حافظه موقت
        </p>
        <p>
          * رفع خطا های نرم افزاری دکمه رزرو غذا
        </p>
        <p>
          * رابط کاربری بهاره شاد
        </p>
        <p>
          * رفع ایرادات امنیتی مربوط به انتقال وجه
        </p>
        <p>
          * حذف پیغام غذا رزرو / لغو شد
        </p>
        <p>
          * ایجاد لینک مستقیم به هفته جهت ارسال به دیگران
        </p>
        <p>
          * افزودن صفحه 404
        </p>
        <p>
          با لمس کردن یا کلیک کردن بر روی ایکن منو میتوانید به منوی نرم افزار دسترسی پیدا کنید
        </p>

        <h3>
          لینک های دسترسی مستقیم
        </h3>
        <a [routerLink]="['/foods']" routerLinkActive="router-link-active">رزرو غذا</a>
        <p>
          اخبار نهایی رایدا در آدرس
          <a href="https://blog.rayda.ir">
            https://blog.rayda.ir
          </a>
          منتشر خواهد شد
        </p>

        <div class="imgs">

        </div>

      </mat-card-content>
      <mat-card-actions>
        <p style="text-align:left; padding: 0; margin: 0; padding-left: 10px">

        </p>
      </mat-card-actions>

    </mat-card>
  </div>


</div>