<div class="row">
  <div class="col l5 m10 s12 ">
    <mat-card>
      <h3 style="margin:0; padding: 0;">به مدیریت تغذیه بادام خوش آمدید</h3>
      <h5 style="margin:0; margin-bottom:5px;  padding: 0;">کاری از تیم رایدا</h5>

      <mat-card-content>

        درود ! از طریق ایکن منو میتوانید به منوی نرم افزار دسترسی پیدا کنید

        <br>
         <br>

        <button mat-raised-button *ngIf="install" (click)="installfunc()" color="primary">نصب بادام</button>
      </mat-card-content>


    </mat-card>
  </div>

</div>
