<mat-card>
    <mat-card-header [ngClass]="{'hide':hide == true}">
        <span style="margin-right: -30px;">سرویس غذایی {{meal+1}}</span>
        <div style="flex: 1 1 auto;"></div>
        <button mat-icon-button (click)="hide = !hide">
            <mat-icon *ngIf="hide == false" style="margin-top: -5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M24 16L12 28l2.83 2.83L24 21.66l9.17 9.17L36 28z"/></svg>
            </mat-icon>
            <mat-icon *ngIf="hide == true">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path d="M33.17 17.17L24 26.34l-9.17-9.17L12 20l12 12 12-12z"/></svg>
            </mat-icon>
        </button>
    </mat-card-header>
    <div *ngIf="hide == false">
        <mat-divider></mat-divider>
        <br>
        <form class="example-form">
            <mat-form-field appearance="fill" class="cll">
                <mat-label>نام غذا</mat-label>

                <input type="text" placeholder="انتخاب غذا" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="Stringfood">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of foodFilter()" [value]="option['name']" (click)="data.food = option['id']; newEmit();">
                        {{option['name']}} {{option['id']}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="fill" class="cll">
                <mat-label>وعده</mat-label>

                <mat-select placeholder="وعده" [(ngModel)]="data.meal">
                    <mat-option *ngFor="let meal of meals" [value]="meal['name']" (click)="newEmit()">
                        {{meal['name']}}
                    </mat-option>
                </mat-select>

            </mat-form-field>

            <mat-form-field appearance="fill" class="cll">
                <mat-label>انتخاب روش قیمت گذاری</mat-label>
                <mat-select>
                    <mat-option [value]="1">
                        بر اساس وعده
                    </mat-option>

                    <mat-option [value]="2">
                        بر اساس غذا
                    </mat-option>
                    <mat-option [value]="3">
                        ثابت
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="cll">
                <mat-label>اولویت قیمت گذار</mat-label>
                <mat-select>
                    <mat-option [value]="1">
                        دسته
                    </mat-option>
                    <mat-option [value]="2">
                        گروه
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="cll">
                <mat-label>قیمت ثابت به ریال</mat-label>
                <input matInput placeholder="فقط برای روش ثابت" type="number" max="500000">
            </mat-form-field>
            <button mat-raised-button color="warn" style=" background: #000000	" (click)="Delete()">حذف این سرویس
                غذایی</button>
        </form>
    </div>

</mat-card>