
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './_varibles.scss';
@import './animate.scss';
@import 'm-modified.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rayda-system-primary: mat-palette($mat-blue,800);
$rayda-system-accent: mat-palette($mat-grey, 700);

// The warn palette is optional (defaults to red).
$rayda-system-warn: mat-palette($mat-grey,900);

// Create the theme object (a Sass map containing all of the palettes).
$rayda-system-theme: mat-light-theme($rayda-system-primary, $rayda-system-accent, $rayda-system-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rayda-system-theme);


/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: SDF;
  font-display: fallback;
  src: url('assets/IRANSans4/eot/IRANSansWeb.eot'),
       url('assets/IRANSans4/woff/IRANSansWeb.woff') format('woff'),
}
$mdc-theme-primary: #1565c0; // primary color
$mdc-theme-secondary: #135db3; // secondary color
$mdc-typography-font-family: "SDF";



@import "~@angular-mdc/theme/material";

.rayda-sidenav-container {
  flex: 1;
  background: $backGr;
}
.origi {
  background: #ffff;
}
.origi2{
  background: #FDD835;
}
.white-mdc-tab-text-label-color {
  @include mdc-tab-text-label-color('text-primary-on-dark');
}



 body,html {
   font-family: SDF;
   background: whitesmoke;
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden !important;
 }
 * {
   font-family: SDF;
 }
 * ::-webkit-scrollbar{
  width: 5px;
}
 * ::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: rgba(0, 0, 0,.1);
}
 .mat-slide-toggle-content,button {
  font-family: SDF !important;
 }

 .pointer {cursor: pointer;}


 .rayda-icons {
   padding-right: 1px;
   padding-left: 1px;
   margin-left: 3px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@for $i from 1 through 12 {
  .row-#{$i}
   {
    margin: 3px;
    width : 8.33*$i + '%';
  }
  .col-#{$i} {
    width : 8.33*$i + '%';
    margin: 3px;
  }
}
.mat-lib-menu-icon {
   display: none;
}
@media (max-width : 768px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .width100 {
    display: flex;
   flex-direction: column;
  }
  .width100 > * {
    width: 100%;
  }
  @for $i from 2 through 12 {
    .row-#{$i}
     {
      grid-row: auto/span 12;
    }
    .col-#{$i} {
      grid-column: auto/span 12;
    }
  }
  [class*="col-"] {
          width: 100%;
      }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  @for $i from 2 through 12 {

    .row-#{$i}
     {
      grid-row: auto/span $i;
    }
    .col-#{$i} {
      grid-column: auto/span $i * 2;
    }
  }

}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .grid {
    grid-template-columns: repeat(10, 1fr);
  }
  @for $i from 2 through 12 {
    .row-#{$i}
     {
      grid-row: auto/span $i;
    }
    .col-#{$i} {
      grid-column: auto/span $i;
    }
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  @for $i from 2 through 12 {
    .row-#{$i}
     {
      grid-row: auto/span $i;
    }
    .col-#{$i} {
      grid-column: auto/span $i;
    }
  }
}
 .text-center{
   text-align: center;
 }
 .no-select {
   -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed */
 }
.statusCard {
  max-width: 300px;
  height: 100px;
}
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 400px;
  padding: 10px;
}
.mat-dialog-container {
   // background:#212121!important;

}
.mat-dialog-container * {
 // color: #fff !important;

}

mat-card {
   // background:  rgba(255,255,255, 0.9)  !important;
  border-radius: 5px !important;
}
mat-card  * {
  // color: #fff !important;
}
.login {
  margin-top: 20px;
  max-width : 400px;
  width: 310px;
  min-height: 300px;
}

.auth-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.auth-content > * {
  width: 100%;
}


mat-card-content{
}
input {

}
.example-margin {
  margin-bottom: 10px;
  text-align: right;
}
.rayput {
  width: 100%;
}
.rayput-left {
  margin-left: 15px;
  min-width: 260px;
}
.ray-tab-content {
}

.grid {
  display: grid;
  grid-gap: 2px;
  padding: 10px;
  counter-reset: div;
}
input:-webkit-autofill {
  //   -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.grid-one {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2px;
  padding: 0;
  counter-reset: div;
}
.mat-badge-content {
    font-size: 10px;
}
aria-label  {
  font-family: Vazir;
}
img {
  user-select: none;
  pointer-events: none;
}
.biG{
  background: #EEEEEE;
}
.red-alert{
  color : #fff;
  background: #f44336;
  overflow-y: hidden;
  margin-bottom: 10px;
}
.mini-cont {
  padding: 20px;
}

mat-card {
  overflow-x: hidden !important;
}

p, text , h1,h2,h3,h4,h5,h6,p {
    -webkit-user-select: none; /* Safari, iOS, and Android */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.raychat_main_button {

}
.mat-tab-header-pagination-chevron {
  display: block;
}

.mat-drawer {
  background: #eeeeee !important
}

.mat-drawer  * {
  color: #212121 !important
}
.mat-option-text {
  // color: #fff !important;
}
.raychat_main_button.left {
  margin-top: 80px !important;
  left: 20px;
}

.bg-maroon-gradient {
  background: rgba(204,31,115,1);
  background: -webkit-linear-gradient(top, rgba(204,31,115,1) 0%, rgba(133,20,75,1) 100%);
  background: linear-gradient(to bottom, rgba(204,31,115,1) 0%, rgba(133,20,75,1) 100%);
}
.bg-aqua-gradient {
  background: rgba(127,219,255,1);
  background: -webkit-linear-gradient(top, rgba(127,219,255,1) 0%, rgba(82,140,163,1) 100%);
  background: linear-gradient(to bottom, rgba(127,219,255,1) 0%, rgba(82,140,163,1) 100%);
}

.bg-blue-gradient {
  background: rgba(0,116,217,1);
  background: -webkit-linear-gradient(top, rgba(0,116,217,1) 0%, rgba(0,65,122,1) 100%);
  background: linear-gradient(to bottom, rgba(0,116,217,1) 0%, rgba(0,65,122,1) 100%);
}

.bg-navy-gradient {
  background: rgba(0,32,63,1);
  background: -webkit-linear-gradient(top, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
  background: linear-gradient(to bottom, rgba(0,32,63,1) 0%, rgba(0,10,20,1) 100%);
}

.bg-teal-gradient {
  background: rgba(57,204,204,1);
  background: -webkit-linear-gradient(top, rgba(57,204,204,1) 0%, rgba(34,122,122,1) 100%);
  background: linear-gradient(to bottom, rgba(57,204,204,1) 0%, rgba(34,122,122,1) 100%);
}

.bg-green-gradient {
  background: rgba(46,204,64,1);
  background: -webkit-linear-gradient(top, rgba(46,204,64,1) 0%, rgba(28,122,39,1) 100%);
  background: linear-gradient(to bottom, rgba(46,204,64,1) 0%, rgba(28,122,39,1) 100%);
}

.bg-lime-gradient {
  background: rgba(1,255,111,1);
  background: -webkit-linear-gradient(top, rgba(1,255,111,1) 0%, rgba(2,163,72,1) 100%);
  background: linear-gradient(to bottom, rgba(1,255,111,1) 0%, rgba(2,163,72,1) 100%);
}

.bg-yellow-gradient {
  background: rgba(255,221,0,1);
  background: -webkit-linear-gradient(top, rgba(255,221,0,1) 0%, rgba(184,147,0,1) 100%);
  background: linear-gradient(to bottom, rgba(255,221,0,1) 0%, rgba(184,147,0,1) 100%);
}

.bg-orange-gradient {
  background: rgba(255,133,27,1);
  background: -webkit-linear-gradient(top, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%);
  background: linear-gradient(to bottom, rgba(255,133,27,1) 0%, rgba(255,80,27,1) 100%);
}

.bg-red-gradient {
  background: rgba(246,46,36,1);
  background: -webkit-linear-gradient(top, rgba(246,46,36,1) 0%, rgba(255,54,121,1) 100%);
  background: linear-gradient(to bottom, rgba(246,46,36,1) 0%, rgba(255,54,121,1) 100%);
}

.bg-fuchsia-gradient {
  background: rgba(240,18,188,1);
  background: -webkit-linear-gradient(top, rgba(240,18,188,1) 0%, rgba(163,11,128,1) 100%);
  background: linear-gradient(to bottom, rgba(240,18,188,1) 0%, rgba(163,11,128,1) 100%);
}

.bg-purple-gradient {
  background: rgba(176,13,201,1);
  background: -webkit-linear-gradient(top, rgba(176,13,201,1) 0%, rgba(107,7,122,1) 100%);
  background: linear-gradient(to bottom, rgba(176,13,201,1) 0%, rgba(107,7,122,1) 100%);
}


.bg-maroon-gradient {
  background: rgba(204,31,115,1);
  background: -webkit-linear-gradient(top, rgba(204,31,115,1) 0%, rgba(133,20,75,1) 100%);
  background: linear-gradient(to bottom, rgba(204,31,115,1) 0%, rgba(133,20,75,1) 100%);
}


mat-toolbar.title span{
    font-size: .9rem;
}

@media only screen and (max-width: 600px) {
  div.main-container{
    padding: 3px;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 601px) {
  div.main-container{
    padding: 10px;
  }

  mat-toolbar.title{
    height: 30px;
    line-height: 30px;
}

}